#bioContainer {
    background: grey;
}

.black_bar{
    /* background: rgba(0,0,0,0.4); */
    text-align: center;
    /* color: transparent; */
    margin-top: -60px;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
    font-size: 1.5rem;
  }

a {
    text-decoration: none;
    color: transparent;
    border-radius: 5px;
}

a:hover {
    background-color: aquamarine;
    color: black;
    transition: all 2.0s ease;
    cursor: pointer;
}

/* img:hover, .black_bar:hover {
    background-color: aquamarine;
    bottom: 0;
    transition: all 2.0s ease;
    cursor: pointer;
    color: blue;
} */


