#bioContainer {
    background: grey;
}

a {
    border-radius: 5%;
}

a:hover {
    background-color: aquamarine;
    transition: all 1.0s ease;
    cursor: pointer;
}

/* img:hover, .black_bar:hover {
    background-color: aquamarine;
    bottom: 0;
    transition: all 2.0s ease;
    cursor: pointer;
    color: blue;
} */


